.options {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.buttons {
  position: sticky;
  bottom: 2.5rem;
  background: rgb(var(--background-start-rgb));
  display: flex;
  gap: 1rem;
}

:global(#app) {
  .option > label {
    font-size: 1.5rem;
    color: rgb(var(--foreground-rgb));
  }

  .button {
    font-size: 1.5rem;
    height: auto;
    width: 100%;
    margin-bottom: 2rem;
  }
}

.tile {
  display: flex;
  justify-content: left;
  align-items: center;
}

.tile-title {
  font-size: 2rem;
  margin-left: 2rem;
}
