.options {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

:global(#app) {
  .option > label {
    font-size: 1.5rem;
    color: rgb(var(--foreground-rgb));
  }

  .button {
    font-size: 2rem;
    height: auto;
    width: 100%;
  }
}
